@page
@model Academic_Blog_App.Pages.UserPage.Student.StudentProfileModel
@using Academic_Blog_App.Services.Helper;
@using Academic_Blog.PayLoad.Response;
@{
    var CurrentAcc = SessionHelper.GetObjectFromJson<LoginResponse>(ViewContext.HttpContext.Session, "Account");
}

<style>
    .text-gradient {
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        background-image: linear-gradient( -225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 80%, #6400ff 100% );
        background-size: 200% auto;
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 2s linear infinite;
        display: inline-block;
        color: #fff;
    }

    .animate-charcter-magenta {
        text-transform: uppercase;
        background-image: linear-gradient(-225deg, #44107a 0%, #ff00f0 50%, #44107a 100%);
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        text-fill-color: transparent;
        animation: textclip 2s linear infinite;
        display: inline-block;
    }

    .animate-charcter-legendary {
        text-transform: uppercase;
        background-image: linear-gradient(-225deg, #ffd300 0%, #ff6c33 50%, #ffd300 100%);
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        text-fill-color: transparent;
        animation: textclip 2s linear infinite;
        display: inline-block;
    }

    .animate-charcter-mutil-color {
        text-transform: uppercase;
        background-image: linear-gradient( -225deg, #231554 10%, #44107a 30%, #ff1361 50%, #fff800 60%, #6400ff 70%, #231557 80%);
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        text-fill-color: transparent;
        animation: textclip 2s linear infinite;
    }

    .gradient-medal {
        background: rgb(68,16,122);
        background: linear-gradient(220deg, rgba(68,16,122,1) 30%, rgba(255,0,240,1) 70%, rgba(122,0,182,1) 100%);
    }

    @@keyframes textclip {
        to {
            background-position: 200% center;
        }
    }

    p {
        margin: 0px !important;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    h4 {
        margin: 0px !important;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .textCrop {
        padding: 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

</style>

<section class="mw-100 p-5" style="background-color: #9de2ff;">
    <div class="card shadow bg-white rounded">
        <div class="card-body p-3">
            <div class="d-flex text-black">
                <div class="flex-shrink-0 mr-3">
                    <img src="~/@Model.Account.Avatar"
                         alt="Generic placeholder image" class="img-fluid"
                         style="width: 180px; border-radius: 10px;">
                </div>
                <div class="align-self-center ml-2 mr-auto">
                    <h3 class="mb-1">@Model.Account.Name</h3>
                    <p class="mb-2 pb-1" style="color: #2b2a2a;">@Model.Account.UserName</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-md-4 px-0 py-3">
            <div class="row-cols-sm-4 card shadow bg-white rounded">
                <div class="card-body p-3">
                    <div class="d-flex flex-column">
                        <div class="flex-column align-self-center">
                            <h5 class="m-0 font-weight-bold text-uppercase">AWARD</h5>
                        </div>
                        @{
                            Func<int, string> GetProgressBarStyle = (percentProgress) =>
                            {

                                if (percentProgress <= 20)
                                {
                                    return "bg-info";
                                }
                                else if (percentProgress > 20 && percentProgress <= 50)
                                {
                                    return "bg-success";
                                }
                                else if (percentProgress > 50 && percentProgress <= 75)
                                {
                                    return "bg-warning";
                                }
                                else
                                {
                                    return "bg-danger";
                                }
                            };
                        }
                        <section class="service_section d-flex flex-column p-2 border border-dark my-2">
                            <div class="py-1">
                                <blockquote class="blockquote mb-0" style="font-size: unset !important">
                                    <p class="mb-0">Blog View Champion</p>
                                    <footer class="blockquote-footer">Total viewed earned.</footer>
                                </blockquote>
                                <div class="progress">
                                    @{
                                        var percentProgress = (int)Math.Round((double)Model.totalViewed / 100 * 100);
                                        if(percentProgress > 100)
                                        {
                                            percentProgress = 100;
                                        }
                                        var style = GetProgressBarStyle(percentProgress);
                                    }
                                    <div class="progress-bar @style" role="progressbar" style="width: @percentProgress%;"
                                         aria-valuenow="@percentProgress" aria-valuemin="0" aria-valuemax="10">
                                        @($"{percentProgress}%")
                                    </div>
                                </div>
                                <div class="d-inline mw-100">
                                    <span>0</span>
                                    <span style="float: right;">100</span>
                                </div>
                            </div>
                            <div class="align-self-center">
                                @if (Model.totalViewed < 25)
                                {
                                    <span class="badge badge-pill badge-secondary">Basic</span>
                                }
                                @if (Model.totalViewed < 50)
                                {
                                    <span class="badge badge-pill badge-secondary">Advance</span>
                                }
                                @if (Model.totalViewed < 75)
                                {
                                    <span class="badge badge-pill badge-secondary">Master</span>
                                }
                                @if (Model.totalViewed < 100)
                                {
                                    <span class="badge badge-pill badge-secondary">God</span>
                                }

                            </div>
                        </section>
                        <section class="service_section d-flex flex-column p-2 border border-dark my-2">
                            <div class="py-1">
                                <blockquote class="blockquote mb-0" style="font-size: unset !important">
                                    <p class="mb-0">Blogging Machine</p>
                                    <footer class="blockquote-footer">Total blog posted</footer>
                                </blockquote>
                                <div class="progress">
                                    @{
                                        percentProgress = (int)Math.Round((double)Model.totalBlog / 10 * 100);
                                        if (percentProgress > 100)
                                        {
                                            percentProgress = 100;
                                        }
                                        style = GetProgressBarStyle(percentProgress);
                                    }
                                    <div class="progress-bar @style" role="progressbar" style="width: @percentProgress%;"
                                         aria-valuenow="@percentProgress" aria-valuemin="0" aria-valuemax="10">
                                        @($"{percentProgress}%")
                                    </div>
                                </div>
                                <div class="d-inline mw-100">
                                    <span>0</span>
                                    <span style="float: right;">10</span>
                                </div>
                            </div>
                            <div class="align-self-center">
                                @if (Model.totalBlog < 3)
                                {
                                    <span class="badge badge-pill badge-secondary">Basic</span>
                                }
                                @if (Model.totalBlog < 5)
                                {
                                    <span class="badge badge-pill badge-secondary">Advance</span>
                                }
                                @if (Model.totalBlog < 7)
                                {
                                    <span class="badge badge-pill badge-secondary">Master</span>
                                }
                                @if (Model.totalBlog < 10)
                                {
                                    <span class="badge badge-pill badge-secondary">God</span>
                                }
                            </div>
                        </section>
                        <section class="service_section d-flex flex-column p-2 border border-dark my-2">
                            <div class="py-1">
                                <blockquote class="blockquote mb-0" style="font-size: unset !important">
                                    <p class="mb-0">Most Viewed Blog</p>
                                    <footer class="blockquote-footer">Post that have <cite title="Source Title">most</cite> viewed.</footer>
                                </blockquote>                                <div class="progress">
                                    @{
                                        percentProgress = (int)Math.Round((double)Model.mostViewedBlog / 100 * 100);
                                        if (percentProgress > 100)
                                        {
                                            percentProgress = 100;
                                        }
                                        style = GetProgressBarStyle(percentProgress);
                                    }
                                    <div class="progress-bar @style" role="progressbar" style="width: @percentProgress%;"
                                         aria-valuenow="@percentProgress" aria-valuemin="0" aria-valuemax="10">
                                        @($"{percentProgress}%")
                                    </div>
                                </div>
                                <div class="d-inline mw-100">
                                    <span>0</span>
                                    <span style="float: right;">100</span>
                                </div>
                            </div>
                            <div class="align-self-center">
                                @if (Model.mostViewedBlog < 25)
                                {
                                    <span class="badge badge-pill badge-secondary">Basic</span>
                                }
                                @if (Model.mostViewedBlog < 50)
                                {
                                    <span class="badge badge-pill badge-secondary">Advance</span>
                                }
                                @if (Model.mostViewedBlog < 75)
                                {
                                    <span class="badge badge-pill badge-secondary">Master</span>
                                }
                                @if (Model.mostViewedBlog < 100)
                                {
                                    <span class="badge badge-pill badge-secondary">God</span>
                                }
                            </div>
                        </section>
                        <section class="service_section d-flex flex-column p-2 border border-dark my-2">
                            <div class="py-1">
                                <blockquote class="blockquote mb-0" style="font-size: unset !important">
                                    <p class="mb-0">Comment Machine</p>
                                    <footer class="blockquote-footer"><cite title="Source Title">Total Comment</cite> in some blogs.</footer>
                                </blockquote>
                                <div class="progress">
                                    @{
                                        percentProgress = (int)Math.Round((double)Model.totalComment / 100 * 100);
                                        if (percentProgress > 100)
                                        {
                                            percentProgress = 100;
                                        }
                                        style = GetProgressBarStyle(percentProgress);
                                    }
                                    <div class="progress-bar @style" role="progressbar" style="width: @percentProgress%;"
                                         aria-valuenow="@percentProgress" aria-valuemin="0" aria-valuemax="10">
                                        @($"{percentProgress}%")
                                    </div>
                                </div>
                                <div class="d-inline mw-100">
                                    <span>0</span>
                                    <span style="float: right;">100</span>
                                </div>
                            </div>
                            <div class="align-self-center">
                                @if (Model.mostViewedBlog < 25)
                                {
                                    <span class="badge badge-pill badge-secondary">Basic</span>
                                }
                                @if (Model.mostViewedBlog < 50)
                                {
                                    <span class="badge badge-pill badge-secondary">Advance</span>
                                }
                                @if (Model.mostViewedBlog < 75)
                                {
                                    <span class="badge badge-pill badge-secondary">Master</span>
                                }
                                @if (Model.mostViewedBlog < 100)
                                {
                                    <span class="badge badge-pill badge-secondary">God</span>
                                }
                            </div>
                        </section>
                        <section class="service_section d-flex flex-column p-2 border border-dark my-2">
                            <div class="py-1">
                                <blockquote class="blockquote mb-0" style="font-size: unset !important">
                                    <p class="mb-0">Award Earned</p>
                                    <footer class="blockquote-footer">Achieve all <cite title="Source Title">award.</cite></footer>
                                </blockquote>
                                <div class="progress">
                                    @{
                                        percentProgress = (int)Math.Round((double)Model.awardEarned / 13 * 100);
                                        if (percentProgress > 100)
                                        {
                                            percentProgress = 100;
                                        }
                                        style = GetProgressBarStyle(percentProgress);
                                    }
                                    <div class="progress-bar @style" role="progressbar" style="width: @percentProgress%;"
                                         aria-valuenow="@percentProgress" aria-valuemin="0" aria-valuemax="10">
                                        @($"{percentProgress}%")
                                    </div>
                                </div>
                                <div class="d-inline mw-100">
                                    <span>0</span>
                                    <span style="float: right;">13</span>
                                </div>
                            </div>
                            <div class="align-self-center">
                                @if (Model.awardEarned < 4)
                                {
                                    <span class="badge badge-pill badge-secondary">Basic</span>
                                }
                                @if (Model.awardEarned < 7)
                                {
                                    <span class="badge badge-pill badge-secondary">Advance</span>
                                }
                                @if (Model.awardEarned < 10)
                                {
                                    <span class="badge badge-pill badge-secondary">Master</span>
                                }
                                @if (Model.awardEarned < 13)
                                {
                                    <span class="badge badge-pill badge-secondary">God</span>
                                }
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="row-cols-sm-auto bg-white mt-2">
                <div class="card shadow bg-white rounded">
                    <div class="card-body p-3">
                        <div class="d-flex flex-column">
                            <div class="p-2 align-self-center">
                                <h5 class="m-0 font-weight-bold text-uppercase">Achievement</h5>
                            </div>
                            <div class="row mb-2" style="background-color: #DDDDDD;">
                                <div class="col-md-7 align-self-center">
                                    <h5 class="text-gradient">Blog View Champion</h5>
                                </div>
                                <div class="col-md-5 align-self-center">
                                    @if (Model.totalViewed >= 25)
                                    {
                                        <span class="badge badge-success m-2 w-100" style="font-size: 18px !important">Basic</span>
                                    }
                                    @if (Model.totalViewed >= 50)
                                    {
                                        <span class="badge badge-primary m-2 w-100" style="font-size: 18px !important">Advance</span>
                                    }
                                    @if (Model.totalViewed >= 75)
                                    {
                                        <span class="badge animate-charcter-legendary m-2 w-100" style="font-size: 18px !important">Master</span>
                                    }
                                    @if (Model.totalViewed >= 100)
                                    {
                                        <span class="badge animate-charcter-magenta m-2 w-100" style="font-size: 18px !important">God</span>
                                    }
                                </div>
                            </div>
                            <div class="row mb-2" style="background-color: #DDDDDD;">
                                <div class="col-md-7 align-self-center">
                                    <h5 class="text-gradient">Blogging Machine</h5>
                                </div>
                                <div class="col-md-5 align-self-center">
                                    @if (Model.totalBlog >= 3)
                                    {
                                        <span class="badge badge-success m-2 w-100" style="font-size: 18px !important">Basic</span>
                                    }
                                    @if (Model.totalBlog >= 5)
                                    {
                                        <span class="badge badge-primary m-2 w-100" style="font-size: 18px !important">Advance</span>
                                    }
                                    @if (Model.totalBlog >= 7)
                                    {
                                        <span class="badge animate-charcter-legendary m-2 w-100" style="font-size: 18px !important">Master</span>
                                    }
                                    @if (Model.totalBlog >= 10)
                                    {
                                        <span class="badge animate-charcter-magenta m-2 w-100" style="font-size: 18px !important">God</span>
                                    }
                                </div>
                            </div>
                            <div class="row mb-2" style="background-color: #DDDDDD;">
                                <div class="col-md-7 align-self-center">
                                    <h5 class="text-gradient">Most Viewed Blog</h5>
                                </div>
                                <div class="col-md-5 align-self-center">
                                    @if (Model.mostViewedBlog >= 25)
                                    {
                                        <span class="badge badge-success m-2 w-100" style="font-size: 18px !important">Basic</span>
                                    }
                                    @if (Model.mostViewedBlog >= 50)
                                    {
                                        <span class="badge badge-primary m-2 w-100" style="font-size: 18px !important">Advance</span>
                                    }
                                    @if (Model.mostViewedBlog >= 75)
                                    {
                                        <span class="badge animate-charcter-legendary m-2 w-100" style="font-size: 18px !important">Master</span>
                                    }
                                    @if (Model.mostViewedBlog >= 100)
                                    {
                                        <span class="badge animate-charcter-magenta m-2 w-100" style="font-size: 18px !important">God</span>
                                    }

                                </div>
                            </div>
                            <div class="row mb-2" style="background-color: #DDDDDD;">
                                <div class="col-md-7 align-self-center">
                                    <h5 class="text-gradient">Comment Machine</h5>
                                </div>
                                <div class="col-md-5 align-self-center">
                                    @if (Model.totalComment >= 25)
                                    {
                                        <span class="badge badge-success m-2 w-100" style="font-size: 18px !important">Basic</span>
                                    }
                                    @if (Model.totalComment >= 50)
                                    {
                                        <span class="badge badge-primary m-2 w-100" style="font-size: 18px !important">Advance</span>
                                    }
                                    @if (Model.totalComment >= 75)
                                    {
                                        <span class="badge animate-charcter-legendary m-2 w-100" style="font-size: 18px !important">Master</span>
                                    }
                                    @if (Model.totalComment >= 100)
                                    {
                                        <span class="badge animate-charcter-magenta m-2 w-100" style="font-size: 18px !important">God</span>
                                    }
                                </div>
                            </div>
                            <div class="row mb-2 gradient-medal" style="background-color: #DDDDDD;">
                                <div class="col-md-7 align-self-center">
                                    <h5 class="text-gradient">Award Earned</h5>
                                </div>
                                <div class="col-md-5 align-self-center">
                                    @if (Model.awardEarned >= 4)
                                    {
                                        <span class="badge badge-success m-2 w-100" style="font-size: 18px !important">Basic</span>
                                    }
                                    @if (Model.awardEarned >= 7)
                                    {
                                        <span class="badge badge-primary m-2 w-100" style="font-size: 18px !important">Advance</span>
                                    }
                                    @if (Model.awardEarned >= 10)
                                    {
                                        <span class="badge animate-charcter-legendary m-2 w-100" style="font-size: 18px !important">Master</span>
                                    }
                                    @if (Model.awardEarned >= 13)
                                    {
                                        <span class="badge animate-charcter-magenta m-2 w-100" style="font-size: 18px !important">God</span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <main class="col-md-8 pr-0 pl-2 py-3">
            <div class="card shadow bg-white rounded">
                @foreach (var blog in Model.Blogs)
                {
                    if (blog.Status.Equals("PENDING"))
                    {
                        if(CurrentAcc.Id != blog.AuthorId)
                        {
                            continue;
                        }
                    }
                    <div class="card-body p-3">
                        <div class="row mx-1 border border-dark">
                            <div class="col-md-3 py-3">
                                <img class="img-thumbnail image-blog d-block mx-auto" src="~/@blog.Thumbnal_Url" alt="Responsive Image" />
                            </div>
                            <div class="col-md-8 py-3 align-self-center">

                                <div class="textCrop">
                                    <a class="nav-link" asp-page="/BlogPage/ViewBlogDetail" asp-route-blogId="@blog.Id" asp-route-authorId="@blog.AuthorId" style="color: #e9a21a; padding: 0; border: 0">
                                        <h4>
                                            @blog.Title
                                        </h4>
                                    </a>
                                    <p>
                                        @blog.ShortDescription
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-1 px-0 py-3 d-flex flex-column">
                                <div class="py-1 mx-auto">
                                    <span class="badge badge-secondary">@blog.Status</span>
                                </div>
                                <div class="py-1 m-auto">
                                    @if (blog.Status.Equals("APPROVED"))
                                    {
                                        <i class="fa fa-chevron-circle-down" style="font-size: 36px; color: green;"></i>
                                    }
                                    @if (blog.Status.Equals("REJECTED"))
                                    {
                                        <i class="fa fa-exclamation-circle" style="font-size: 36px; color: red;"></i>
                                    }
                                    @if (blog.Status.Equals("DELETED"))
                                    {
                                        <i class="fa fa-exclamation-circle" style="font-size: 36px; color: red;"></i>
                                    }
                                    @if (blog.Status.Equals("PENDING") && CurrentAcc != null)
                                    {
                                        <a class="btn btn-light" asp-page="/BlogPage/EditBlogDetail" asp-route-blogId="@blog.Id">
                                            <i class="fa fa-edit" style="font-size: 36px"></i>
                                        </a>

                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </main>

    </div>
</section>