@page
@model Academic_Blog_App.Pages.AdminPage.CommentDetailModel
@{
}
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Comments.Id)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Comments.Id)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Comments.CreateTime)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Comments.CreateTime)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Comments.Content)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Comments.Content)
    </dd>
    @if (Model.Comments.ReplyToId != null)
    {
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comments.ReplyToId)
        </dt>
        <dd class="col-sm-10">
            <a asp-page="./CommentDetail" asp-route-id="@Model.Comments.ReplyToId">@Html.DisplayFor(model => model.Comments.ReplyToId)</a>
        </dd>
    }
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Comments.BlogId)
    </dt>
    <dd class="col-sm-10">
        <a href="/AdminPage/BlogDetail?blogId={@Model.Comments.BlogId}&authorId={@Model.Blogs.AuthorId}">@Html.DisplayFor(model => model.Comments.BlogId)</a>
    </dd> 
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Comments.Commentor)
    </dt>
    <dd class="col-sm-10">
        <a asp-page="./AccountDetail" asp-route-id="@Model.Comments.CommentorId">Account Details</a>
    </dd>
    <dd class="col-sm-10">
        <a asp-page="./CommentList">Back to Comment List</a>
    </dd>
    <dd class="col-sm-10">
        <a asp-page="./ReportIndex">Back to Report List</a>
    </dd>
</dl>


