@page
@model Academic_Blog_App.Pages.BlogPage.ViewBlogDetailModel
@using Academic_Blog_App.Services.Helper;
@using Academic_Blog.PayLoad.Response;
@{
    var Login = ViewData["Login"]?.ToString();
    var CurrentAcc = SessionHelper.GetObjectFromJson<LoginResponse>(ViewContext.HttpContext.Session, "Account");
}

<style>
    .box {
        border: 1px solid black;
    }

        .box h2 {
            margin: 20px 0;
            margin-left: auto;
            margin-right: auto;
            font-size: 38px;
            font-weight: bold;
            text-align: center !important;
        }

    .blog-interact {
        height: 50px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: none;
        border-right: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .blog-interact i {
            margin-left: 12px;
            font-size: 35px;
        }

    .cursor-pointer {
        cursor: pointer;
    }

    button {
        border: none;
        background: none;
        padding: 0;
        margin: 0;
    }

    .model-content {
        background-color: blue;
        padding: 20px;
        border: 1px solid #888;
    }

    .report-model-finish {
        opacity: 50%;
        transition: opacity 0.1s ease-in-out;
    }

        .report-model-finish:hover {
            opacity: 85%;
        }
</style>

<div class="body_bg layout_padding" style="padding: 40px;">
    <section class="service_section">
        <div class="container">
            <div class="row" style="margin: 40px 0;">
                @foreach (var acc in Model.Accounts)
                {
                    if (acc.Id == Model.Blog.AuthorId)
                    {
                        <div class="col-md-2">
                            <a asp-page="/UserPage/StudentProfile" asp-route-userId="@acc.Id">
                                <img class="rounded-circle shadow" src="~/@acc.Avatar" alt="" style="width: 150px; height: 150px; cursor: pointer;" />
                            </a>
                        </div>
                        <div class="col-md-10" style="display: block; margin: auto 0; padding-right: 20px;">
                            <a asp-page="/UserPage/StudentProfile" asp-route-userId="@acc.Id" style="text-decoration: none; color: black; cursor: pointer;">
                                <h5 style="margin: 0; font-weight: 700; font-size: 24px;">
                                    @acc.Name
                                </h5>
                            </a>
                            <div style="color: black; opacity: 50%">UD:  @Model.Blog.UpdatedTime</div>
                        </div>
                    }
                }
            </div>
            <div class="box w-100">
                <div class="p-3">
                    <h2 class="font-weight-bold mx-auto my-2" style="font-size: 38px;">@Model.Blog.Title</h2>
                    <p style="margin: 12px 0; font-size: 20px; padding: 10px 0;">
                        @Model.Blog.Description
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="service_section">
        <div class="container">
            <div class="w-100">
                <div class="d-flex justify-content-xl-between align-self-stretch">
                    <div id="blogView" class="ml-1">
                        <i class="fa fa-eye" style="font-size:30px;color:black">@Model.Blog.View</i>
                    </div>
                    <div class="mr-1" id="blogComment">
                        @Model.Comments.Count Comments
                    </div>
                </div>
                <div class="blog-interact">
                    @if (!string.IsNullOrEmpty(Login))
                    {
                        <i class="fa fa-commenting-o btn-outline-info cursor-pointer" onclick="openComment()"> Comment </i>
                    }
                    else
                    {
                        <i class="fa fa-commenting-o"> Comment </i>

                    }
                </div>
            </div>
            <div class="d-flex flex-column">
                @foreach (var comment in Model.Comments)
                {
                    @if (comment.ReplyToId == null)
                    {
                        var feedBack = 0;
                        @foreach (var feed in Model.Comments)
                        {
                            @if (feed.ReplyToId == comment.Id)
                            {
                                feedBack += 1;
                            }
                        }
                        @foreach (var acc in Model.Accounts)
                        {
                            @if (comment.CommentorId == acc.Id)
                            {
                                <div id="commentBlog" style="display: none;">
                                    <form method="get" id="formInputNewComment" class="m-0">
                                        <div class="form-group row pt-sm-4 pb-sm-1 mb-0 align-items-center" style="width: 1070px; height: 100px">
                                            <div class="col-sm-1 p-0 text-center border-right border-dark" style="width: 50px; height: 50px;">
                                                @foreach (var ac in Model.Accounts)
                                                {
                                                    if (ac.Id == Model.Blog.AuthorId)
                                                    {
                                                        <img class="rounded-circle shadow" src="/@ac.Avatar" alt="Avatar" style="width: 50px; height: 50px;" />
                                                    }
                                                }
                                            </div>
                                            <div class="col-sm-11">
                                                <input class="form-control form-control-lg border border-dark" type="text" id="inputComment" name="inputComment" required maxlength="200" pattern=".*[^ ].*" placeholder="Enter Comment" style="background-color: gainsboro; margin-left: 5px; height: 68px" />
                                            </div>
                                        </div>
                                        <div class="row justify-content-end px-3">
                                            <button type="submit" class="btn btn-success px-5" data-blog-id="@comment.Id" style="font-size: 17px; margin-right: 92px; margin-bottom: 10px;">Submit</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="new-comment-container" id="newComment" style="">
                                </div>
                                <div class="value-comment-container" id="value-comment-@comment.Id" style="margin-left: 0px;" @(comment.CommentorId == CurrentAcc?.Id ? $"onmousedown=openOthersOption('{comment.Id}',0)" : "")>
                                    <div class="col-lg-10 mx-auto border border-dark rounded" style="background-color: gainsboro; margin-top: 20px;">
                                        <div class="row align-items-center">
                                            <div class="col-sm-1 my-2 border-right border-dark">
                                                <a asp-page="/UserPage/StudentProfile" asp-route-userId="@acc.Id">
                                                    <img class="rounded-circle shadow" src="~/@acc.Avatar" alt="Avatar" style="width: 50px; height: 50px; cursor: pointer;" />
                                                </a>
                                                
                                            </div>
                                            <div class="col-sm">
                                                <a asp-page="/UserPage/StudentProfile" asp-route-userId="@acc.Id" style="text-decoration: none; color: black; cursor: pointer;">
                                                    <h4 class="m-0" style="font-weight: 600;">@acc.Name</h4>
                                                </a>
                      
                                                @{
                                                    string dayComment = "", postFixTime = "";
                                                    var currentDate = DateTime.Now;
                                                    int differentTime = (int)(currentDate - comment.CreateTime).TotalDays;
                                                    if (differentTime < 1)
                                                    {
                                                        differentTime = (int)(currentDate - comment.CreateTime).Hours;
                                                        if (differentTime < 1)
                                                        {
                                                            differentTime = (int)(currentDate - comment.CreateTime).TotalMinutes;
                                                            if (differentTime < 1)
                                                            {
                                                                differentTime = (int)(currentDate - comment.CreateTime).TotalSeconds;
                                                                postFixTime = "Seconds ago";
                                                            }
                                                            else
                                                            {
                                                                postFixTime = "Minutes ago";
                                                            }
                                                        }
                                                        else
                                                        {
                                                            postFixTime = "Hours ago";
                                                        }
                                                    }
                                                    else
                                                    {
                                                        postFixTime = "Days ago";
                                                    }
                                                    dayComment = differentTime.ToString() + " " + postFixTime;
                                                }
                                                <div style="font-weight: bold; color: red; font-size: 14px;">@dayComment</div>
                                            </div>
                                        </div>
                                        <div class="col border-top border-dark mt-1">
                                            <p style="color: black; opacity: 80%; padding: 0.5rem 0 0 2rem;">@comment.Content</p>
                                        </div>
                                    </div>
                                    <div class="form-group row py-sm-4 mb-0 align-items-center">
                                        <div class="w-100"></div>
                                        <div class="col-lg-10 mx-auto" style="color: black; opacity: 80%;">
                                            <div class="row align-items-center pt-2">
                                                @if (!string.IsNullOrEmpty(Login))
                                                {
                                                    @if (CurrentAcc.Id != comment.CommentorId)
                                                    {
                                                        <div class="col-2 text-center border-right border-secondary">
                                                            <button type="button" id="report-@comment.Id" class="btn btn-outline-warning" data-toggle="modal" data-target="#reportModal" onclick="openReport('@comment.Id')">Report</button>
                                                        </div>
                                                    }
                                                }
                                                <div id="formReply-@comment.Id" class="col-2 text-center border-right border-secondary">
                                                    <form method="get" class="m-0">
                                                        <button class="btn btn-outline-success feedback-btn" id="feedback-@comment.Id" data-comment-id="@comment.Id" data-spadding-int="0" data-feed-back="@feedBack" type="submit">@feedBack FeedBack</button>
                                                    </form>
                                                </div>
                                                @if (!string.IsNullOrEmpty(Login))
                                                {
                                                    <div class="col-2 text-center border-right border-secondary">
                                                        <button class="btn btn-outline-secondary" type="button" id="reply-@comment.Id" onclick="openReply('@comment.Id')">Reply</button>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div id="replyContainer-@comment.Id" style="display: none; padding-left: 38px" class="col-lg-10 mx-auto pr-0">
                                        <form method="get" class="m-0">
                                            <div class="form-group row pb-sm-1 mb-0 align-items-center">
                                                <div class="col-sm-1 p-0 text-center border-right border-dark" style="width: 50px; height: 50px;">
                                                    @foreach (var currentAcc in Model.Accounts)
                                                    {
                                                        if (currentAcc.Id == Model.Blog.AuthorId)
                                                        {
                                                            <img class="rounded-circle shadow" src="/@currentAcc.Avatar" alt="Avatar" style="width: 50px; height: 50px;" />
                                                        }
                                                    }

                                                </div>
                                                <div class="col-sm-11 pr-0">
                                                    <input class="form-control form-control-lg border border-dark" type="text" id="inputReplyComment-@comment.Id" name="inputReplyComment" required maxlength="200" pattern=".*[^ ].*" placeholder="Enter Comment" style="background-color: gainsboro;" />
                                                </div>
                                            </div>
                                            <div class="row justify-content-end">
                                                <button type="submit" class="btn btn-success px-5 submit-reply-btn" data-reply-comment-id="@comment.Id" data-spadding-int="0" style="font-size: 17px;">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="comment-container" id="@comment.Id" style="">
                                </div>
                            }
                        }
                    }
                }
            </div>
        </div>
    </section>
    <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="margin-top: 270px;">
                <form method="post" id="formReportModal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="h5ModalLabel">Report This Comment ?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <span class="text-center" style="justify-content: center">
                            <select class="report-model-reason text-danger" name="reasonSelected" style="width: 180px; font-size: 24px; height: 40px; text-align: center; margin-left: 85px;">
                                <option value="Toxic" selected">
                                    Toxic
                                </option>
                                <option value="AbusiveLanguage">
                                    Abusive Language
                                </option>
                                <option value="Irrelevant">
                                    Irrelevant
                                </option>
                                <option value="Unrespect">
                                    Unrespect
                                </option>
                                <option value="Spam">
                                    Spam
                                </option>
                            </select>
                        </span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="hidden" class="report-model-comment-id" id="reportModelCommentId" name="reportModelCommentId" value="" />
                        <button type="submit" class="btn btn-primary">Report</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade otherOptionsModal" id="OtherOptionsModal" tabindex="-1" role="dialog" aria-labelledby="otherOptionsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="margin-top: 270px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <button type="submit" class="btn btn-primary" data-comment-id="" data-space="" id="editOptions">Edit</button>
                    <button type="submit" class="btn btn-primary" data-comment-id="" data-space="" id="deleteOptions">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section ViewBlogDetailScripts {
    <script type="text/javascript">
        function openOthersOption(triggerId, space) {
            var editCommentForm = $("#editCommentForm");
            if (editCommentForm.length > 0) {
                return;
            }
            var timeout;
            var startTime = new Date();
            console.log("triggerId:" + triggerId);

            $('#OtherOptionsModal').modal({
                show: false
            });

            timeout = setTimeout(function () {
                $('#editOptions').data('comment-id', triggerId);
                $('#editOptions').data('space', space);

                $('#deleteOptions').data('comment-id', triggerId);
                $('#deleteOptions').data('space', space);
                showPopupForm();
            }, 800);

            $('#value-comment-' + triggerId).on('mouseup', function () {
                var currentTime = new Date();
                var timeDifference = Math.floor((currentTime - startTime) / 1000);
                if (timeDifference < 1) {
                    clearTimeout(timeout);
                    return;
                }
            });

            function showPopupForm() {
                $('#OtherOptionsModal').modal('show');
            }

            function hidePopupForm() {
                $('#OtherOptionsModal').modal('hide');
            }
        }

        function openReport(commentId) {
            console.log("Report run in with id report: " + commentId);
            var commentIdInput = document.querySelector(".report-model-comment-id");
            commentIdInput.value = commentId;

            // $('#modal').show();
            console.log("Comment Id Tranfer: " + commentIdInput.value);
            // function closeReportModel() {
            //     $('#modal').hide();
            // }

            // $('.modal .close').click(function () {
            //     closeReportModel();
            // });
        }

        function openReply(commentId) {
            if ($('#replyContainer-' + commentId).is(':visible')) {

                $('#replyContainer-' + commentId).hide();
                return;
            } else {
                $('#replyContainer-' + commentId).show();
                return;
            }
        }

        function openComment() {
            if ($('#commentBlog').is(':visible')) {

                $('#commentBlog').hide();
                return;
            } else {
                $('#commentBlog').show();
                return;
            }
        }
    </script>
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fingerprintjs2/2.1.0/fingerprint2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.10/signalr.min.js"></script>
<script src="~/js/site.js?v=2.3"></script>